ul{
    width: 200px;
    height: 100px;
    list-style: none;
    font-weight: 900;
}

li{
    padding: 10px;
    border: 3px solid gray;
    margin-bottom: 6px;
    border-radius: 10px;
}

li:nth-child(odd){
    background-color: red;
}

li:nth-child(even){
    background-color: aqua;
}

li:first-child{
    background-color: blue;
}

li:last-child{
    background-color: blanchedalmond;
}

li:nth-child(5){
    background-color: chartreuse;
}

