h3{
    color:orange;
    background-color: aquamarine;
    font-size: 40px;
}
p{
    color:black;
    background-color:white;
    font-size: 20px;
}
thead , tfoot{
    color: red;
    background-color: aqua;
}
tbody , caption{
    color:whitesmoke;
    background-color: black;
}
/* h1{
    text-transform: uppercase;
} */
.t_transform_uppercase{
    text-transform: uppercase;
}
.t_transform_lowercase{
    text-transform: lowercase;
}
.t_trnsform_capitlize{
    text-transform: capitalize;
}
.t_align_center{
    text-align: center;
}
.t_align_right{
    text-align: right;
}
.t_decor_over{
    text-decoration: overline;
}
.t_decor_line{
    text-decoration: line-through;
}
.t_decor_under{
    text-decoration: underline;
}
.t_decor{
    text-decoration: overline line-through underline;
}
.t_indent{
    text-indent: 160px;
}
.t_line_height{
    line-height: 30px;
}
.t_letter_spacing{
    letter-spacing: 20px;
}
.t_word_spacing{
    word-spacing: 40px;
}
.t_shadow{
    color: blueviolet;
    text-shadow: 4px 5px 7px red;
    font-size: 70px;
    text-align: center;
}
.t_shadow2{
    color: black;
    text-shadow: 5px 5px 5px gray;
    font-size: 70px;
    text-align: center;
}